.forgotcontainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #eff9fd) !important;
}

.forgotImage {
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
}

.backtoLogin {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.backloginDiv {
    margin-top: 20px;
    text-align: center;
}

.cardContainer {
    width: 30rem !important;
}

.loginText {
    background-color: transparent !important;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .login_image {
        width: 170px;
        height: 170px;
    }

}