.AllLoansbtnContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 5px 0px;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    height: 100vh;
}

.colContainerSidebar {
    /* background-color: #2e2e48; */
    background-color:white;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.AllLoansbtn {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.styledCard {
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.styledCard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.line {
    border-top: 1px solid white;
    margin: 10px 0;
    color: white;
}

.imagesidebar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.5s;
   
}

.imagesidebar:hover {
    transform: rotateY(360deg);
}

.linkClass {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    width: 100%;
    transition: all 0.4s ease;
    border-radius: 10px;
    text-decoration: none;
    color: goldenrod;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 0px 10px 15px;
    background-color: rgba(0, 0, 0, 0.85);
}

.linkClass:hover {
    background: linear-gradient(to right, goldenrod, black);
    color: white;
    transform: scale(1.05);
    font-weight: 500;
}

.AllLoansbtn:hover{
    background: linear-gradient(to right, goldenrod, black);
    color: white;
    transform: scale(1.05);
    font-weight: 400;
}

.userName {
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.userRole {
    color: black;
    text-align: center;
    font-size: 18px;
}

.viewDocClass {
    background-color: rgba(0, 0, 255, 0.5) !important;
    text-decoration: none;
    margin-bottom: 15px;
    border-radius: 5px;
}

.imageViewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalViewDocImage {
    object-fit: cover;
    width: 100%;
    max-width: 250px;
}


@media only screen and (min-width:321px) and (max-width:768px) {
    .sidebarContainer {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
    }

    .sideBarBtnClass {
        width: 50%;
    }

    .AllLoansbtnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: #f0f0f0;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
    }

    .colContainerSidebar {
        display: none;
    }
}