.navbarcontainer {
    background-color: white !important;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.logo-image {
    animation: rotate 3s linear infinite;
}